<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <meta charset="UTF-8" />
    <title>Your Events Today!</title>
    <style>
      body {
    
      }
      .wrapper {
       /* margin-left: 10%; */
      }

    </style>
  </head>
  <body>
    <div class="wrapper">
    <img src="/static/logo.png" />
    <h3>{{ user.first_name }}'s Events</h3>
    <p>
      {% for event in events %}
    </p>

    <div style="margin-left: auto; margin-right: auto">
      <div class="row">
        <div class="col s12 m6">
          <div class="card white">
            <center>
            <div class="card-content black-text">
              <span class="card-title">{{ event.name }}</span>
              <p>
                {{ event.description }}
              </p>
              <p></p>
              <div class="card-data">
                Start Time:
                <p id="start-time-{{ event.id }}">{{ event.start_time }}</p>
                End Time:
                <p id="end-time-{{ event.id }}">{{ event.end_time }}</p>
              </div>
            </div>
            <div class="card-action">
              <center>
                <a href="http://localhost:3000/"
                  >See Charging Stations Near Me!</a
                >
              </center>
            </center>
            </div>
            
          </div>
        </div>
      </div>
   

    {% endfor %}
  </div>
</div>
  </body>
</html>
